{% render 'partials/head.liquid', title: 'index' %}
<section></section>
<section>
  <article>
    <h2>1745</h2>
    <p>Uitvinding van de Leidse fles</p>
    <div class="divider"></div>
    <p>
      Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote Elektriseermachine niet
      mogelijk zijn geweest. Dit is de technische basis.
    </p>
  </article>
  <article>
    <h2>1745</h2>
    <p>Uitvinding van de Leidse fles</p>
    <p>
      Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote Elektriseermachine niet
      mogelijk zijn geweest. Dit is de technische basis.
    </p>
  </article>
  <article>
    <h2>1745</h2>
    <p>Uitvinding van de Leidse fles</p>
    <p>
      Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote Elektriseermachine niet
      mogelijk zijn geweest. Dit is de technische basis.
    </p>
  </article>
  <article></article>
  <article></article>
</section>

{% render 'partials/footer.liquid' %}
