*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken-Regular.ttf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken-black.ttf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('opentype');
    font-weight: 700;
}

:root {
    --color-primary: #1A3038;
    --color-secondary-bg: #00001B;
    --color-accent-bg: #91B37E;
    --color-lightest: #F4ECDD;
    --color-accent: #FFCC01;

    --font-size-display: 12rem;
    --font-size-l: 2.125rem;
    --font-size-m: 1.875rem;
    --font-size-s: 1.125rem;
    --font-size-xs: 1rem;
}

body {
    background-color: var(--color-primary);
    line-height: 1.2;

    font-family: Larken, 'Times New Roman', Times, serif;
    font-weight: 500;
}

h1 {
    font-size: var(--font-size-m);
    color: var(--color-lightest);
    font-weight: 500;
}

p {
    font-size: var(--font-size-s);
    margin-block: 2rem;
    color: var(--color-lightest);
}

section {
    padding-inline: 1rem;
}

a {
    background-color: var(--color-accent);
    font-size: var(--font-size-xs);
    color: var(--color-primary);
    border: 1px solid var(--color-accent);
    padding: 0.75rem 1rem;
    display: flex;
    transition: all 0.3s ease;
    width: max-content;
    font-family: inter, arial, sans-serif;
    text-decoration: none;

    @media (any-pointer: fine) {

        &:hover,
        &:active {
            cursor: pointer;
            border: 1px solid var(--color-accent);
            background-color: transparent;
            color: var(--color-accent);
            transition: all 0.3s ease;
        }
    }
}

section.timeline {

    @media screen and (width > 48rem) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 20vh;
    }

    .timeline-card {
        width: 100%;
        height: 45rem;
        position: sticky;
        top: 60px;
        padding: 1.5rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow: hidden;
        animation: --fade-out linear forwards;
        animation-timeline: view(100% 95%);
        border-radius: 1rem;
        background-color: #102F35;
        filter: drop-shadow(0px 0px 10px #0000005a);

        scroll-margin-top: calc(100vh * --scroll-amount);

        .year,
        p {
            color: var(--color-lightest);
        }

        p {
            font-size: var(--font-size-xs);
            font-family: inter, Arial, Helvetica, sans-serif;
            margin-block: 0;
        }

        h2 {
            font-size: var(--font-size-m);
            font-family: Larken, 'Times New Roman', Times, serif;
            font-weight: 500;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            justify-self: end;
            background-color: var(--color-secondary-bg);
        }

        @media (width > 48rem) {
            width: 100%;
            display: grid;
            grid-column: 1/-1;
            grid-template-columns: subgrid;
            grid-template-rows: repeat(2, min-content);
            background-color: transparent;
            filter: none;
            border-radius: 0;
            position: relative;
            padding: 0;
            gap: 1rem;
            height: fit-content;

            animation: --big-screen-fade-in linear;
            animation-timeline: view();
            animation-range: entry;

            .title {
                align-self: center;
            }

            .summary {
                max-width: 20rem;
            }

            a {
                place-self: end;
            }

            img {
                aspect-ratio: unset;
                max-height: 50vh;
            }

            .year {
                align-self: end;
            }

            &:nth-of-type(4n + 1) {

                .year {
                    grid-column: 1/2;
                }

                .title {
                    grid-column: 2/4;
                }

                a {
                    grid-column: 4/5;
                }

                .summary {
                    grid-row: 2/3;
                    grid-column: 5/-1;
                    align-self: end;
                }

                img {
                    grid-column: 1/5;
                }
            }

            &:nth-of-type(4n + 2) {
                .year {
                    grid-column: 3/4;
                }

                .title {
                    grid-column: 4/6;
                }

                a {
                    grid-column: 6/7;
                }

                .summary {
                    grid-row: 2/3;
                    grid-column: 1/3;
                    align-self: end;
                }

                img {
                    max-height: 75vh;
                    grid-column: 3/-1;
                }
            }

            &:nth-of-type(4n + 3) {
                .year {
                    grid-column: 1/2;
                }

                .title {
                    grid-column: 2/4;
                }

                a {
                    grid-column: 6/-1;
                    justify-self: end;
                }

                .summary {
                    grid-row: 3/4;
                    grid-column: 4/-1;
                }

                img {
                    max-height: 50vh;
                    grid-column: 1/-1;
                }
            }

            &:nth-of-type(4n + 4) {
                .year {
                    grid-column: 2/3;
                }

                .title {
                    grid-column: 3/5;
                }

                a {
                    grid-column: 6/7;
                    justify-self: end;
                }

                .summary {
                    grid-row: 3/4;
                    grid-column: 2/4;
                }

                img {
                    max-height: 75vh;
                    grid-column: 2/-1;
                }
            }
        }
    }
}

@keyframes --fade-out {
    0% {
        filter: drop-shadow(0px 0px 10px #0000005a);
        transform: translateY(0);
        scale: 1;
    }

    100% {
        transform: translateY(-8rem);
        scale: 0.9;
        filter: drop-shadow(0px 0px 10px #0000005a);
    }
}

@keyframes --big-screen-fade-in {
    0% {
        scale: 0.9;
        opacity: 0.2;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

section.quiz {
    background-color: var(--color-secondary-bg);
    padding-inline: 0;
    color: var(--color-lightest);

    h2 {
        font-weight: 400;
        font-size: var(--font-size-s);
    }

    a {
        background-color: transparent;
        border: 1px solid var(--color-accent);
        color: var(--color-accent);
        display: flex;
        gap: 1rem;
        border-radius: 16px;
    }
}