*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scrollbar-gutter: stable;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken-Regular.ttf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Larken';
    src: url('../fonts/Larken-black.ttf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('opentype');
    font-weight: 700;
}

:root {
    --color-primary-bg: #1A3038;
    --color-secondary-bg: #00001B;
    --color-lightest: #F4ECDD;
    --color-accent: #FFCC01;
}

body {
    background-color: var(--color-primary-bg);
}