*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scrollbar-gutter: stable;
}

:root {
    --color-primary-bg: #1A3038;
    --color-secondary-bg: #00001B;
    --color-lightest: #F4ECDD;
    --color-accent: #FFCC01;
}

body {
    background-color: var(--color-accent);
}